<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="DBConnectionString" connectionString="data source=DESKTOP-TBV3J9S; database=Sample13; Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>

</configuration>
